PyGithub
GitPython
pybloomfiltermmap3
phply
nltk
chardet
tblib
pdfminer
pyOpenSSL
ndg-httpsclient
distro
mitmproxy==6.0.2
pyasn1
lxml
scapy
guess_language-spirit
cluster
msgpack
python-ntlm3
Jinja2
vulndb
psutil
ds-store
termcolor
Flask
PyYAML
tldextract
pebble
acora
diff-match-patch
bravado-core
lz4
vulners
ipaddresses
subprocess32
blinker
xdot
https://github.com/Chinmay1743/halberd/archive/refs/heads/master.zip
vulndb==0.1.3
https://github.com/wharris/esmre/archive/refs/heads/main.zip
markdown
